<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/styleLogin.css">
</head>
<body>
<div class="container">
  <section id="content">
    <!--*************************-->
    <% if (messages.error) { %>
      <%= messages.error %>
    <% } %>
    <!--*************************--> 
    <form action="/login" method="POST">
      <h1>Login </h1>
      <div>
        <input type="text" placeholder="Username" required="" id="username" />
      </div>
      <div>
        <input type="password" placeholder="Password" required="" id="password" />
      </div>
      <div>
      <a href= "./a"  ><input type="submit" value="Log in" /> </a>
        <a href="#">Lost your password?</a>
        <a href="./register">Register</a>
      </div>
    </form><!-- form -->
    
  </section><!-- content -->
</div><!-- container -->
</body>
</html>