<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styleRegister.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="/register" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nom et prenom : </span>
            <input type="text" name="name" placeholder="Entrer votre nom" required>
          </div>
          <div class="input-box">
            <span class="details">Cin </span>
            <input type="text" name="cin" placeholder="Entrer votre cin" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" name="email" placeholder="Entrer votre email" required>
          </div>
          <div class="input-box">
            <span class="details">Téléphone</span>
            <input type="text" name="telephone" placeholder="Entrer votre numéro de Téléphone" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text"  name="password" placeholder="Entrer votre password" required>
          </div>
         <!-- <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="text" placeholder="Confirme votre password" required>
          </div> -->
          <div class="input-box">
            <span class="details">Role</span>
            <select  type="liste" name ="role" >
                <option value="">--Veuillez choisir un role --</option>
                <option value="ئيس دائرة">رئيس دائرة</option>
                <option value="قاضي">قاضي</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Délégation</span>
            <select  type="liste" name="region">
                <option value="">--Veuillez choisir une region--</option>
                <option value="Bekalta">Bekalta</option>
                <option value="Bembla">Bembla</option>
                <option value="Beni Hassen">Beni Hassen </option>
                <option value="Jemmal">Jemmal </option>
                <option value="Ksar Hellal">Ksar Hellal</option>
                <option value="Ksibet el-Médiouni">Ksibet el-Médiouni</option>
                <option value="Moknine">Moknine </option>
                <option value="Monastir">Monastir</option>
                <option value="Ouerdanine">Ouerdanine</option>
                <option value="Sahline">Sahline</option>
                <option value="Sayada-Lamta-Bou Hajar">Sayada-Lamta-Bou Hajar </option>
                <option value="Téboulba">Téboulba</option>
                <option value="Zéramdine">Zéramdine</option>
            </select>
          </div>
        </div>
        
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
