 <!-- form handling -->
 <form action="/api/dossiers" method="POST" id="add_dossier">
    <div class="new_dossier">
     
        <div class="form-group">
            <label for="ref" class="text-light">Reference : </label>
            <input type="hidden" name="id" value="">
            <input type="text" name="ref" value="" placeholder="A1250e">
        </div>
        <div class="form-group">
            <label for="dateAudiance" class="text-light">Date de Audiance  : </label>
           <!-- <input type="hidden" name="dateAudiance" value=""> -->
            <input type="text" name="dateAudiance" value="" placeholder="12-02-2020">
        </div>

        <script type="text/javascript">
            function ShowHideDiv() {
                var chkYes = document.getElementById("chkYes");
                var chkNo = document.getElementById("chkNo");
                var chkNoM = document.getElementById("chkNoM");
                var chkYesM = document.getElementById("chkYesM");
                var dvPassport = document.getElementById("dvPassport");
                dvPassport.style.display = chkYes.checked ? "block" : "none";
                var dvPassportN = document.getElementById("dvPassportN");
                dvPassportN.style.display = chkNo.checked ? "block" : "none";
                var dvPassportM = document.getElementById("dvPassportM");
                dvPassportM.style.display = chkYesM.checked ? "block" : "none";
                var dvPassportNM = document.getElementById("dvPassportNM");
                dvPassportNM.style.display = chkNoM.checked ? "block" : "none";
         
            }
        </script>

        <div class="form-group">
            <label for="complete" class="text-light">Manques :</label>
            <div class="radio inline">
                <input type="radio" id="chkYes" name="chkPassPort"  value="Oui" checked onclick="ShowHideDiv()"  >
                <label for="chkYes" class="radio-label ">Oui</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="chkNo" name="chkPassPort"  value="Non" onclick="ShowHideDiv()"  >
                <label for="chkNo" class="radio-label ">Non</label>
            </div>
                    <div  class="form-group" id="dvPassportN" style="display: none">
                        <label for="date_negotiation" class="text-light">Date de Négotiation : </label>
                        <input type="text" id="start" name="date_negotiation" placeholder ="2021-07-22" >
                        <label for="jugement" class="text-light">Jugement: </label>
                        <textarea  type="text" rows="5" cols="33" id="jugement" name ="jugement"> ... </textarea><br/><br/>
                        <label for="nom_juge" class="text-light">Juge : </label>
                        <input type="text" name="nom_juge" value="" placeholder="Foulen ben foulen">
                        <label for="date_r" class="text-light">Date réception : </label>
                        <input type="text" id="date_r" name="date_reception"placeholder="2021-07-22" >
                        <label for="date_l" class="text-light">Date Livraison : </label>
                        <input type="text" id="date_l" name="date_livraison"placeholder="2021-07-22" >
                    </div>
                  
                    <div  class="form-group" id="dvPassport" style="display: none">
                        <label for="nom_etat" class="text-light">Etat :</label>
                        <div class="radio inline">
                            <input type="radio" id="chkYesM" name="chkPassPortn"  value="توجه" checked onclick="ShowHideDiv()"  >
                            <label for="chkYesM" class="radio-label ">توجه</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="chkNoM" name="chkPassPortn"  value="تحرير" onclick="ShowHideDiv()"  >
                            <label for="chkNoM" class="radio-label ">تحرير</label>
                        </div> 

                        <div  class="form-group" id="dvPassportM" style="display: none">
                         <label for="datet" class="text-light">Date : </label>
                            <input type="text" id="datet" name="datet" placeholder="2021-07-22" >
                            <label for="maps_code" class="text-light">Lieu : </label>
                            <input type="text" id="start" name="maps_code" placeholder="2021-07-22" >
                            <label for="nom_juge" class="text-light">Juge : </label>
                            <input type="text" name="nom_juge" value="" placeholder="Foulen ben foulen">
                          
                        </div>
                        <div  class="form-group" id="dvPassportNM" style="display: none">
                            <label for="dater" class="text-light">Date : </label>
                               <input type="text" id="start" name="dater" placeholder="2021-07-22" >
                               <label for="nom_juge" class="text-light">Juge : </label>
                               <input type="text" name="nom_juge" value="" placeholder="Foulen ben foulen">
                        </div>

                    </div>
                   
                   
                   
                        
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Enregistrer</button>
        </div>

    </div>
</form>