
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styleMenu.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body> 


<div id="menu_dynamique"><ul id="menu-navigation-principale" class="menu"><li id="menu-item-2800" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2800"><a title="Accueil" href="#">Accueil</a>
  </div>
  <div id="menu_dynamique"><ul id="menu-navigation-principale" class="menu"><li id="menu-item-2800" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2800"><a title="Accueil" href="#">Liste des juges</a>
  
  </div>
  <div id="menu_dynamique"><ul id="menu-navigation-principale" class="menu"><li id="menu-item-2800" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2800"><a title="Accueil" href="#">Liste des dossiers</a>
  
  </div>
  
</body>
</html>